﻿@model EcommerceCommon.Infrastructure.Dto.Product.ProductCreateDto

@{
    ViewData["Title"] = "Thêm mới sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .padd-left {
        padding-left: 0px !important;
    }
</style>

@section Scripts{
    <script src="~/js/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Thêm mới sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <a asp-action="Index" class="btn btn-success">Về danh sách</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-controller="Product" asp-action="Create" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Code" class="control-label"></label>
                                <input asp-for="Code" class="form-control" />
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Sku" class="control-label"></label>
                                <input asp-for="Sku" class="form-control" />
                                <span asp-validation-for="Sku" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PublicationDate" class="control-label"></label>
                                <input asp-for="PublicationDate" class="form-control" />
                                <span asp-validation-for="PublicationDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ExpirationDate" class="control-label"></label>
                                <input asp-for="ExpirationDate" class="form-control" />
                                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PercentDiscount" class="control-label"></label>
                                <input asp-for="PercentDiscount" class="form-control" />
                                <span asp-validation-for="PercentDiscount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Quantity" class="control-label"></label>
                                <input asp-for="Quantity" class="form-control" />
                                <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-5 padd-left">
                                <label asp-for="CategoryId" class="control-label"></label>
                                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories">
                                    <option>--Chọn danh mục--</option>
                                </select>
                                <span asp-validation-for="SupplierId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-5 padd-left">
                                <label asp-for="SupplierId" class="control-label"></label>
                                <select asp-for="SupplierId" class="form-control" asp-items="@ViewBag.Suppliers">
                                    <option>--Chọn nhà cung cấp--</option>
                                </select>
                                <span asp-validation-for="SupplierId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-5 padd-left">
                                <label asp-for="ManufactureId" class="control-label"></label>
                                <select asp-for="ManufactureId" class="form-control" asp-items="@ViewBag.Manufactures">
                                    <option>--Chọn nhà sản xuất--</option>
                                </select>
                                <span asp-validation-for="ManufactureId" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                                    <label asp-for="ProductStatus" class="control-label"></label>
                                    <input asp-for="ProductStatus" class="form-control" />
                                    <span asp-validation-for="ProductStatus" class="text-danger"></span>
                                </div>*@
                            <div class="form-group">
                                <label asp-for="Keyword" class="control-label"></label>
                                <input asp-for="Keyword" class="form-control" />
                                <span asp-validation-for="Keyword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea id="editor" rows="35" asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ShortDescription" class="control-label"></label>
                                <input asp-for="ShortDescription" class="form-control" />
                                <span asp-validation-for="ShortDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Weight" class="control-label"></label>
                                <input asp-for="Weight" class="form-control" />
                                <span asp-validation-for="Weight" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Height" class="control-label"></label>
                                <input asp-for="Height" class="form-control" />
                                <span asp-validation-for="Height" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Width" class="control-label"></label>
                                <input asp-for="Width" class="form-control" />
                                <span asp-validation-for="Width" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ThumnailImage" class="control-label"></label>
                                <input type="file" asp-for="ThumnailImage" class="form-control" />
                                <span asp-validation-for="ThumnailImage" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Thêm mới" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /.card-body -->
</section>

