﻿@using EcommerceCommon.Infrastructure.ViewModel.Product;
@model List<ProductViewModel>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section DataTable{
    <!-- DataTables -->
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}

<style>
    .btn-action{
        line-height:1 !important;
    }
</style>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Danh sách sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header row">
                <div class="col-md-9"><a asp-action="Create" class="btn btn-success">Thêm mới</a></div>
                <div class="col-md-3">
                    <form asp-action="Index" method="get">
                        <select onchange="this.form.submit()" name="categoryId" class="form-control" asp-items="@ViewBag.Categories">
                            <option>--Danh mục sản phẩm--</option>
                        </select>
                    </form>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                @if (@ViewBag.Success != null)
                {
                    <div id="msgSuccess" class="alert alert-success" role="alert">
                        @ViewBag.Success
                    </div>
                }
                <div class="table-responsive">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Mã sản phẩm</th>
                                <th>Tên SP</th>
                                <th>Số lượng</th>
                                <th>Giá</th>
                                <th>Trạng thái</th>
                                <th>Ngày mở bán</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Code</td>
                                    <td>@item.Name</td>
                                    <td>@item.Quantity</td>
                                    <td>
                                        @item.Price.ToString("N0")
                                    </td>
                                    @{
                                        if ((int)item.ProductStatus == 0)
                                        {
                                            <td>Còn hàng</td>
                                        }
                                        else if((int)item.ProductStatus == 1)
                                        {
                                            <td>Mới</td>
                                        }
                                        else if((int)item.ProductStatus == 2)
                                        {
                                            <td>Hết hàng</td>
                                        }
                                    }
                                    <td>@item.PublicationDate.ToString("MM/dd/yyyy")</td>
                                    <td>
                                        @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-action" })
                                        @Html.ActionLink("Xem chi tiết", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-action" })
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-action" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                </div>
                <!-- /.card-body -->
            </div>
    </div>
</section>

@section Scripts{
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        setTimeout(function () {
            $("#msgSuccess").fadeOut();
        }, 3000);

        $(function () {
            $("#example1").DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "language": {
                    "info": "Hiển thị _START_ đến _END_ trong _TOTAL_ bản ghi",
                    "search": "Tìm kiếm:",
                    "paginate": {
                        "first": "Đầu",
                        "last": "Cuối",
                        "next": "Sau",
                        "previous": "Trước"
                    },
                    "lengthMenu": "Hiển thị _MENU_ bản ghi",
                    "infoEmpty": "Hiển thị 0 đến 0 trong 0 bản ghi",
                    "emptyTable": "Không có dữ liệu trong bảng",
                },
                "zeroRecords": "Không tìm thấy bản ghi nào",
            });
        });
    </script>
}
