﻿@using EcommerceCommon.Infrastructure.ViewModel;
@model DashboardViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section DataTable{
    <!-- DataTables -->
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}

<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Model.NewOrders.Count()</h3>

                        <p>Đơn hàng mới</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a asp-controller="Dashboard" asp-action="ListNewOrder" class="small-box-footer">Xem thông tin <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        @*<h3>53<sup style="font-size: 20px">%</sup></h3>*@
                        <h3>@Model.NewProduct.Count()</h3>

                        <p>Sản phẩm mới</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a asp-controller="Dashboard" asp-action="NewProduct" class="small-box-footer">Xem thông tin <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@Model.NewUserRegisters.Count()</h3>

                        <p>Người dùng mới</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a asp-controller="Dashboard" asp-action="NewUser" class="small-box-footer">Xem thông tin <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>65</h3>

                        <p>Unique Visitors</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">Xem thông tin <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <!-- /.row (main row) -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 style="font-weight:bold" class="card-title">Đơn hàng mới</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Người đặt hàng</th>
                                    <th>Ngày đặt hàng</th>
                                    <th>Giá</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.NewOrders)
                                {
                                    <tr>
                                        <td>@item.OrderId</td>
                                        <td>@item.CustomerName</td>
                                        <td>@item.CreateDate</td>
                                        <td>@item.TotalPrice.ToString("N0")</td>
                                        <td>@item.OrderStatus.ToString()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 style="font-weight:bold" class="card-title">Sản phẩm được xem nhiều nhất</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Danh mục</th>
                                    <th>Nhà cung cấp</th>
                                    <th>Số lượng</th>
                                    <th>Giá</th>
                                    <th>Lượt xem</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.MostViewProducts)
                                {
                                    <tr>
                                        <td>@item.Code</td>
                                        <td>@item.Name</td>
                                        <td>@item.CategoryName</td>
                                        <td>@item.SupplierName</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Price.ToString("N0")</td>
                                        <td>@item.Views</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </div><!-- /.container-fluid -->
</section>
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
<!-- DataTables -->

@section Scripts{
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "language": {
                    "info": "Hiển thị _START_ đến _END_ trong _TOTAL_ bản ghi",
                    "search": "Tìm kiếm:",
                    "paginate": {
                        "first": "Đầu",
                        "last": "Cuối",
                        "next": "Sau",
                        "previous": "Trước"
                    },
                    "lengthMenu": "Hiển thị _MENU_ bản ghi",
                    "infoEmpty": "Hiển thị 0 đến 0 trong 0 bản ghi",
                    "emptyTable": "Không có dữ liệu trong bảng",
                },
                "zeroRecords": "Không tìm thấy bản ghi nào",
            });
            $("#example2").DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": false,
                "autoWidth": false,
                "responsive": true,
                "language": {
                    "info": "Hiển thị _START_ đến _END_ trong _TOTAL_ bản ghi",
                    "search": "Tìm kiếm:",
                    "paginate": {
                        "first": "Đầu",
                        "last": "Cuối",
                        "next": "Sau",
                        "previous": "Trước"
                    },
                    "lengthMenu": "Hiển thị _MENU_ bản ghi",
                    "infoEmpty": "Hiển thị 0 đến 0 tring 0 bản ghi",
                    "emptyTable": "Không có dữ liệu trong bảng",
                },
                "zeroRecords": "Không tìm thấy bản ghi nào",
            });
        });
    </script>
}

